/* VARIAVEIS */
$white: #ffffff;
$white-1: #DBDEDE;
$white-2: #EAEAEA;
$white-3: #eee;
$white-4: #cccccc;
$white-5: #D1D1D1;
$white-6: #D8D8D8;
$white-7: #c4c4c4;
$white-8: #F2F2F2;
$white-9: #F4F4F4;
$white-10: #FAFAFA;

$black: #000;
$black-1: #24464E;
$black-2: #2B2B2B;
$black-3: #151B21;

$gray-1: #26303B;
$gray-2: #324152;
$gray-3: #1B232B;
$gray-4: #5F6D76;
$gray-5: #5A697B;
$gray-6: #5F646A;
$gray-7: #27313C;
$gray-8: #ebeded;
$gray-9: #ADADAD;
$gray-10: #939393;

$blue-1: #1684CE;
$blue-2: #31A6F5;
$blue-3: #184869;
$blue-4: #34424B;
$blue-5: #0B6BAB;
$blue-6: #518EF8;

$green-1: #69B5AC;
$green-2: #28BC9A;
$green-3: #e1fffb;
$green-4: #488EA0;
$green-5: #00aaaa;
$green-6: #2190a2;
$green-7: #2bb6b0;
$green-8: #71E5A6;
$green-9: #2BB293;
$green-10: #478C9E;
$green-11: #e1ecef;
$green-12: #66B0A7;
$green-13: #76CEC3;

$gold-1: #84785F;
$gold-2: #f5ebd7;
$gold-3: #9D8C6B;

$red-1: #FF5252;
$red-2: #F87E7E;
$red-3: #FF6969;
$red-4: #ffe6e6;
$red-5: #EF8484;
$red-6: #FAE8E8;

$orange-1: #ffa347;

$shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.12);


/* RESOLUCOES */
$small: 850px;
$medium: 992px;
$large: 1440px;