@import "../../app/vars.scss";

.button {
    padding: 15px 25px;
    border: 2px solid $gray-1;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 50px;
    &:hover {
        cursor: pointer;
        background-color: $gray-4;
        color: #fff;
    }
}
